@charset 'UTF-8';

*{
	margin: 0px;
	padding: 0px;
}
body{
	font: normal 14pt Arial, Verdana, Sans-serif;
	background-color: lightblue;
}
h1{
	font-size: 2em;
	text-align: center;
	padding: 15px;
}
section{
	padding: 10px;
	width: 270px;
	margin: auto;
	background-color: white;
	border-radius: 10px;
}
p{
	padding: 0px;
}
input{
	font-size: 15pt;
	width: 40px;
}
input#botao{
	width: 140px;
	margin-left: 5px;
}
div#tab{
	padding-top: 10px;
}
footer{
	color: white;
	font-style: italic;
	text-align-last: center;
	padding: 5px;
}